/* importing selected fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600;700&family=Roboto:ital,wght@0,400;0,500;1,400;1,700&display=swap');

/* Enabling CSS @media Rule to easily enable responsive scaling */
@media screen {
}

/* 18px = 1rem */
html {
    font-size: 110%; /* bruk prosent, ikke px */
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

body {
    background-color: #FFF4DF; 
} 



/* * * * * * * TEXT STYLES * * * * * * */

h1 {
    font-family: 'Domine', sans-serif;
    font-size: 3.33rem;
    line-height: 140%;
    color: #402E24;   
}

h2 {
    font-family: 'Domine', sans-serif;
    font-size: 2rem;
    line-height: 140%;
    color: #402E24;   
}

h3, .header, .sales-points {
    font-family: 'Domine', sans-serif;
    font-size: 1.33rem;
    line-height: 140%;
    color: #402E24;   
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.88rem;
    line-height: 140%;
    color: #402E24;   
}


.p1, .navigation-elments, .gdpr-elments, .review-small-text-p2, .p-credibility, .user-step-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.11rem;
    line-height: 140%;
    color: #402E24;   
}

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 1.11rem;
    line-height: 140%;
    text-decoration: underline;   
    color: #402E24;
}



/* * * * * * * MOBILE * * * * * * */

/* header */
.header {
    background-color: #FFDA8F; /* changes to #FFF4DF when more than 932px width (@media Rule) */
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    padding: 2rem;
}

header nav {
    display: none;
}

header nav ul li:hover {
    text-decoration-line: underline;
    font-style: italic;
    transition: color 1s;
}

.hero {
    background-color: #FFDA8F; 
}

/*  download intro */
.download-intro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 100%;
    padding: 5rem 0;
}

.solfryd-logo-big {
    display: none;
}

.duo-frames-picture {
    display: none;
}

.download-intro-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.download-intro-headline {
    text-align: center;
    font-size: 1.6rem;
}

.download-badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    gap: 1rem;
}

.arrow-down {
    margin: 0 auto;
    width: 2rem;
    display: block;
    transform: translateY(-0px);
}



/* the problem */
.the-problem {
    background-color: #FFF4DF;
}

.the-problem .friends-in-park {
    width: 100%;
}

.the-problem-text {
    display: none;
}



/* how the app works */
.how-app-works {
    background-color: #FFF4DF;
    padding-bottom: 10rem;
    width: 100%;
}

.how-app-works h1 {
    display: none;
}

.how-app-works h2, h1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    padding-top: 5rem;
}

.user-step {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 2rem 2rem 2rem;
    gap: 1rem;
    text-align: center;
    margin: 0 auto;
}


.how-app-works .sketch-mobile, .sketch-doctor, .sketch-sunny-things {
    padding: 4rem 0 1rem 0;
}



/* user reviews */
.user-reviews {
    background-color: #F0A783;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem; /* change review elements into a carousel if possible - if not keep like this */
    padding: 5rem 2rem 7rem 2rem;
}

.user-reviews .user-review-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.user-reviews .review-headline-h2 {
    text-align: center;
    padding-bottom: 3rem;
}

.user-reviews .review-intro-text .review-headline-h1, .review-small-text-p2 {
    display: none;
}



/* sales points */
.sales-points {
    background-color: #FFFCF7;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.sales-points .sale-point {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}



/* credibility */
.credibility {
    background-color: #FFF4DF;
    padding: 5rem 1.5rem;
    gap: 2rem;
    align-items: center;
}

.credibility-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: start;
    gap: 2rem;
}

.partner-logos-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.5rem 0 1rem 0;
    gap: 2rem;
}

.partner-logos-big {
    display: none;
}

.credibility .partner-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}



/* footer */
footer {
    background-color: #FFD072;
}


footer .footer-menu, .footer-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 3rem 0;
}

footer .logo-solfryd-big, .p1 {
    display: none;
}


footer .navigation-elments nav ul, .gdpr-elments nav ul {
    list-style: none;
    text-align: center;
    padding: 2rem 0;
}

footer .navigation-elments nav ul li:hover, .gdpr-elments nav ul li:hover {
    text-decoration: underline;
}


footer .navigation-elments .footer-menu, .gdpr-elments .footer-menu {
    padding: 0.5rem;
    align-items: center;
}

footer .copyright {
    text-align: center;
    padding: 0 0 2rem 0;
}




/* * * * * * * DESKTOP * * * * * * */

/* Using CSS @media Rule to hide/show elements when screen is more than 932px wide (iPhone 14 Pro Max) */
@media screen and (min-width: 932px) { 


    /* header  */
    .header {
        background-color: #FFF4DF;
        padding: 2rem 7rem;
    }

    header .icon-hamburger {
        display: none;
    }
    
    header nav {
        display: flex;
    }

    header nav ul {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 5rem;
    }



    /* download intro */
    .download-intro {
        background-color: #FFF4DF;
        display: flex;
        flex-direction: row;
        justify-content:baseline ;
        padding: 10rem 15rem;
        max-width: 1440px;
        margin: 0 auto;
    }

    .solfryd-logo-big {
        display: block;
    }

    .download-intro-headline {
        max-width: 350px;
        text-align: start;
    }

    .duo-frames-picture {
        display: block;
    }

    .download-badges {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .download-intro-right {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }



    /* the problem */
    .the-problem {
        display: flex;
        flex-direction: row;
        float: right;
        background-color: #FFDA8F;
    }

    .the-problem .friends-in-park {
        width: 40%; /* BE OM HJELP: BILDET STREKKER SEG!! align-self: center fungerer ikke */
    }

    .the-problem .the-problem-text {
        display: flex;
        flex-direction: column;
        padding: 20rem 10rem 10rem 7rem;
        gap: 5rem;
    }



    /* how the app works */

    .how-app-works .user-steps {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        padding: 2rem 10% 0 10%;
        gap: 3rem;
    }

    .user-step {
        display: flex;
        flex-direction: column;
    }

    .how-app-works {
        margin: auto;
        padding: 65rem 0 10rem 0;
    }

    .how-app-works h2 {
        display: none;
    }
    
    .how-app-works h1 {
        display: block;
    }

    /* user reviews */


    .user-reviews .review-intro-text .review-headline-h1, .review-small-text-p2 {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .user-reviews .review-intro-text .review-headline-h2 {
        display: none;
    }

    .user-reviews .user-review-boxes {
        display: flex;
        flex-direction: row;
        padding: 3rem 5rem;
        justify-content: center;
        gap: 1.25rem;
    }



    /* sales points */
    .sales-points .sale-point {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        padding: 4rem 1.5rem;
        gap: 1rem;
    }



    /* credibility */
    .credibility {
        display: flex;
        flex-direction: row;
        padding: 10rem;
        align-items: center;
        gap: 10rem;
    }

    .credibility .partner-logos-small {
        display: none;
    }
    
    .credibility .partner-logos-big { /* UTFORDRING: Logoer vistes før, men vises plutselig ikke lengre likevel ?? */
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
    }

    .credibility .logo-fhi-big, .logo-kreftforeningen-big {
        display: block;
    }

    .credibility .credibility-text .h2-credibility, .p-credibility{
        display: flex;
        flex-direction: column;
        max-width: 38rem;
    }



    /* footer */
    footer .footer-menu {
        display: flex;
        flex-direction: row;
        gap: 8rem;
    }

    footer .footer-menu .solfryd-funfact .logo-solfryd-big, .p1 {
        display: flex;
    }

    .logo-solfryd-big {
        width: 12rem;
    } 

    footer .navigation-elments nav ul li, .gdpr-elments nav ul li {
        align-items: left;
        justify-content: left;
    }
    
    .footer-menu .navigation-elments, .gdpr-elments {
        align-self: baseline;
        text-align: left;
    }

    .solfryd-funfact {
        display: flex;
        flex-direction: column; 
        gap: 2rem;
        max-width: 32rem;
    } 

    .logo-solfryd-small {
        display: none;
    }

    .arrow-down {
        transform: translateY(-40px);
    }
    .hero {
        background-color: #FFF4DF; 
    }

    
    
}

